@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none !important;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "InterRegular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-family: "InterRegular", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.thumb {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@font-face {
  font-family: 'CoreSans-light';
  src: url('../../public/assets/fonts/CoreSansC-35Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoreSans-regular';
  src: url('../../public/assets/fonts/CoreSansC-45Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoreSans-Medium';
  src: url('../../public/assets/fonts/CoreSansC-55Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoreSans-Bold';
  src: url('../../public/assets/fonts/CoreSansC-65Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.CoreSans-light {
  font-family: "CoreSans-light" !important;
}

.CoreSans-regular {
  font-family: "CoreSans-regular" !important;
}

.CoreSans-medium {
  font-family: "CoreSans-medium" !important;
}

.CoreSans-bold {
  font-family: "CoreSans-bold" !important;
}

.bg {
  background-image: url(../../public/assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.unsplash {
  background-image: url(../../public/assets/images/unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.unsplash-1 {
  background-image: url(../../public/assets/images/unsplash-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.view {
  background-image: url(../../public/assets/images/fashion-view.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.maincontainer{
  position: fixed;
    top: 0;
    right: 0; 
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.1s ease-in;
    opacity: 0;
    @media all and (max-width: 980px) {
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    } 
}